body {
  font-family: Jaro;
  font-size: 25px;
  background-color: #cadff7;
}

.logo {
  position: absolute;
  top: 70px;
  right: 30px;
  width: 200px;
  height: 150px;
  /* animation: rotate 5s linear infinite; */
  /* animation: moveRightLeft 5s ease-in-out infinite alternate; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    /* Start the rotation from 0 degrees */
  }

  to {
    transform: rotate(360deg);
    /* End the rotation at 360 degrees */
  }
}

@keyframes moveRightLeft {
  from {
    right: 0;
    /* Start the animation from the right */
  }

  to {
    right: calc(100% - 100px);
    /* Move the image to the left */
  }
}


.marquee-container {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(250%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.openNav {
  font-size: 30px;
  cursor: pointer;
}


.datediv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.datediv input[type="date"] {
  margin-left: 10px;
  margin-right: 30px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.datediv input[type="date"]:focus {
  border-color: dodgerblue;
}

.datediv input[type="date"]::placeholder {
  color: #999;
}

.datediv input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  /* Invert color of the calendar icon */
}

.datediv input[type="date"]:hover {
  transform: scale(1.02);
}


/* 
  Logic for implenting Top Menu bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* #Logic for implenting sidebar */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

#acctype {
  margin-left: 20px;
}

.account-type {
  display: inline-block;
  margin-right: 10px;
  margin-left: 40px;
  margin-top: 30px;
}

.account-type input[type="radio"] {
  display: none;
}

.account-type label {
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: #ccc;
  border: 2px solid transparent;
  border-radius: 8px;
  /* Round corners to make it look like a square */
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.account-type input[type="radio"]:checked+label {
  border-color: #007bff;
  /* Change border color when selected */
  color: #007bff;
  /* Change text color when selected */
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 95%;
  margin-left: 20px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.branches {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

input {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  transition: border-color 0.3s ease;
  font-size: 16px;
  outline: none;
  color: rebeccapurple;
}

input:focus {
  border-color: dodgerblue;
  background-color: aqua;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:hover {
  transform: scale(1.02);
  border-color: red;

}

.accopOPT {
  margin-top: 20px;
  margin-left: 20px;
}

.accopOPT input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  outline: none;

  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.accopOPT input[type="radio"]:checked {
  border-color: dodgerblue;
}

.accopOPT input[type="radio"]:hover {
  transform: scale(1.5);
}

.accopOPT input {
  margin-top: 10px;
  margin-left: 30px;
}

.numbs {
  display: flex;
  /* justify-content:space-around; */
  margin-top: 30px;
  margin: 20px;

}

.numbs input[type="number"] {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 140px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.numbs input[type="number"]:focus {
  border-color: dodgerblue;
}

.numbs input[type="number"]::placeholder {
  color: #999;
}

.numbs input[type="number"]::-webkit-inner-spin-button,
.numbs input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.numbs input[type="number"]:hover {
  transform: scale(1.02);
}


.staffPF {
  margin-top: 30px;
  margin-left: 20px;
  color: #333;
}

.staffPF span {
  margin-right: 100px;
  /* Adjust the value as needed */
}

.staffPF input[type="checkbox"] {
  appearance: none;
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;

}



.staffPF input[type="checkbox"]:focus {
  outline: none;
  border-color: transparent;
  /* Remove border color */
}

.staffPF input[type="checkbox"]:checked {
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.staffPF input[type="number"] {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}


.staffPF input[type="number"]::placeholder {
  color: #999;
}

.name1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.name1 label {
  font-size: 25px;
  margin-bottom: 5px;
  color: #333;
  margin-right: 15px;
}

.name1 input[type="text"] {
  width: 85%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.name1 input[type="text"]:hover {
  border-color: dodgerblue;
}

/* Container for the input field */
.maidname {
  margin-bottom: 20px;
  margin-top: 20px;
}

.maidname label {
  font-size: 25px;
  margin-bottom: 5px;
  color: #333;
  margin-right: 15px;
}

.maidname input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.maidname input[type="text"]:hover {
  border-color: dodgerblue;
}

.maidname small {
  font-size: 14px;
  color: #888;
}

/* Small text hover effect */
.maidname small:hover {
  color: #666;
}

.dobuser {
  color: #444;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dobuser label {
  margin-bottom: 5px;
  margin-right: 10px;
}

.dobuser input[type="date"] {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 10%;
  transition: border-color 0.3s ease;
}

.dobuser input[type="date"]:focus {
  border-color: dodgerblue;
  transform: scale(1.1);
}

.dobuser input[type="date"]::placeholder {
  color: #999;
}

.genmar {
  color: #333;
  display: flex;
  margin-bottom: 20px;
}

.genmar label {
  margin-bottom: 5px;
}

.genmar select {
  margin-right: 140px;
  margin-left: 20px;
  padding: 2px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 20%;
  font-family: Jaro;
  /* transition: border-color 0.3s ease; */
  transition: transform 0.8s ease;
}

.genmar select:focus {
  border-color: dodgerblue;
  outline: none;
}

.genmar select:hover {
  border-color: #999;
  transform: scale(1.5);
}




.disability {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #222
}

.disability label {
  margin-right: 40px;
}

.disability input[type="radio"] {
  margin-right: 5px;
}

.disability input:hover {
  transform: scale(2);
}

.specifydis {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #818181;
}

.specifydis label {
  margin-right: 40px;
}

.specifydis input[type="checkbox"] {
  margin-right: 5px;
}

.specifydis input:hover {
  transform: scale(2);
}


.studies {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Label for the illiterate checkbox */
.studies label {
  margin-bottom: 5px;
  font-size: 30px;
  color: #333;

}

/* Checkbox for illiterate */
.studies input[type="checkbox"] {
  margin-right: 5px;
  height: 20px;
  width: 40px;
  transition: transform 0.8s ease;
}

.studies input[type="checkbox"]:hover {
  border-color: dodgerblue;
  transform: scale(1.5);
}


/* Text input for qualification */
.studies input[type="text"] {

  width: 20%;
  margin-left: 30px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: transform 0.8s ease;
}

/* Input hover effect */
.studies input[type="text"]:hover {
  border-color: dodgerblue;
  transform: scale(1.2);
}

.qualify {
  margin-left: 370px;
}


/* Container for the family aspect */
.famasp {
  margin-bottom: 20px;
}

.famasp label {
  margin-bottom: 5px;
  color: #333;
}

.famasp input[type="text"] {
  width: calc(100% - 120px);
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  /* transition: border-color 0.3s ease; */
  transition: transform 0.8s ease;
  margin-left: 30px;
}

.famasp input[type="text"]:hover {
  border-color: dodgerblue;
  transform: scale(1.04);
}

/* Small text for additional information */
.famasp small {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #888;
  margin-left: 30px;
}

.famasp small:hover {
  color: #666;
}



/* Container for the Guardian section */
.guardinfo {
  margin-bottom: 20px;
}

.guardinfo label {
  margin-bottom: 5px;
  color: #333;
}

.guardinfo input {
  margin-right: 30px;
}

.guardinfo input[type="text"] {
  width: calc(35% - 100px);
  padding: 10px;
  /* font-size: 16px; */
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

/* Input hover effect */
.guardinfo input[type="text"]:hover {
  border-color: dodgerblue;
}

/* Placeholder text styling */
.guardinfo input[type="text"]::placeholder {
  color: #aaa;
  /* Placeholder text color */
}




/* Container for the Nationality section */
.national {
  margin-bottom: 20px;
}

.national label {
  margin-right: 10px;
  color: #333;
}

.national select {
  padding: 10px;
  font-size: 16px;
  font-family: Jaro;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.national input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.national input[type="text"]:hover,
.national select:hover {
  border-color: dodgerblue;
}

.national small {
  font-size: 14px;
  color: #888;
}

.national small:hover {
  color: #666;
}

.notInd {
  margin-left: 260px;
}


/* Container for the Citizenship and Religion section */
.citzrel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.citzrel label {
  margin-right: 10px;
  color: #333;
}

.citzrel input[type="text"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.citzrel select {
  padding: 5px;
  font-size: 15px;
  width: 10%;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  font-family: jaro;
}

.citzrel input[type="text"]:hover,
select:hover {
  border-color: dodgerblue;
}

.religion {
  margin-left: 200px;
}


/* Container for the Category section */
.catclass {
  margin-bottom: 20px;
  font-size: 30px;
}

.catclass label {
  margin-right: 20px;
  margin-left: 40px;
  cursor: pointer;
  font-size: 25;
  transition: transform 0.8s ease;
}

.catclass input[type="checkbox"] {
  margin-right: 5px;
  height: 25px;
  width: 25px;
  transition: transform 0.8s ease;
}

.catclass input[type="checkbox"]:hover {
  transform: scale(1.5);

}

.catclass label:hover {
  color: dodgerblue;
  transform: scale(1.5);
}



/* Container for the Occupation section */
.occpcl {
  margin-bottom: 20px;
  margin-top: 20px;
}

.occpcl label {
  margin-bottom: 5px;
  cursor: pointer;
  margin-left: 30px;
}

.occpcl input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

.occpcl label:hover {
  color: dodgerblue;
}

/* CSS for the organization name and profession */
.orgprof {
  margin-bottom: 20px;
  margin-top: 20px;
}

.orgprof label {
  margin-bottom: 5px;
}

.orgprof input[type="text"] {
  margin-left: 35px;
  width: 25%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  transition: transform 0.8s ease;
}

.orgprof input[type="text"]:hover {
  transform: scale(1.2);
  border-color: green;
  background-color: #333;
}

.profclass {
  margin-left: 40px;
}

.typeadpin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.typeadpin input {
  transition: transform 0.8s ease;
  margin-left: 50px;
}

.typeadpin input:hover {
  border-color: blue;
  transform: scale(1.3);
  background-color: #444;
}

.typeadpin select {
  margin-right: 240px;
  margin-left: 50px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 25%;
  font-family: Jaro;
  transition: transform 0.8s ease;
}

.typeadpin select:hover {
  border-color: blue;
  transform: scale(1.3);
  background-color: #444;
}



.address {
  margin-bottom: 20px;
}

.address label {
  margin-bottom: 5px;
}

.address input[type="text"] {
  width: 30%;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.address input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.statecty {
  margin-top: 20px;
  margin-bottom: 20px;
}

.statecty label {
  width: 20%;
  margin-right: 10px;
}

.statecty input[type="text"] {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 180px;
  padding: 10px;
}

.statecty input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



.stacoun {
  margin-top: 20px;
  margin-bottom: 20px;
}

.stacoun label {
  width: 20%;
  margin-right: 10px;
}

.stacoun input[type="text"] {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 180px;
}

.stacoun input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
